// Tools
@use "../../style/utils/vars" as v;
@use "../../style/utils/mixins" as m;

.body {
  @include m.flex(column);
}

.main {
  @include m.flex(column);
  gap: v.$sp_30;
  // max-width: 80vw;
  // width: 100%;
  width: 50vw;
  min-height: 100vh;
  
}

