// Tools
@use "../../style/utils/vars" as v;
@use "../../style/utils/mixins" as m;

body {
  @include m.flex(column);
}

.card{
  border: 1px solid green;
  @include m.card;
}

.wrap {
  @include m.flex;
  flex-wrap: nowrap;
}

.name {
  cursor: pointer;
}

.writeUp,
.toSum {
  display: none;
}
